

<%= form_for([@post, @post.comments.build],html:{class:"form-4"},remote: true) do |f| %>

    <div class="control-group">
      <%= f.label :comment,class:"control-label"%>
      <div class="controls">
        <%= f.text_area :body,:rows=>1,class:"input-xlarge"%>
      </div>
    </div>
    <%= f.hidden_field :commenter ,value: current_user.username %>
    <div class="form-actions">
      <%= f.submit :class =>"btn btn-primary"%>
      <button class="btn" type="reset">Cancel</button>
    </div>
<% end %>