
<div id="content">
<%= form_tag ({controller: "calendar", action: "create" ,class:"form-4"}) do%>
<p><lable for="name"> Event Name : <%= text_field :event, :name ,class:"tb7"%></p>
<p><lable for="name"> Start Date :	<%= date_select :event, :start_at %> </p>
<p><lable for="name"> End Date   : <%= date_select :event, :end_at %> </p>
<p> <%= submit_tag "Create" %> <p>
<% end %>
</div>
