<div id="content">
 



<%= form_for(resource, :as => resource_name,validate:true, :url => registration_path(resource_name),html:{multipart: true,class:"form-4"}) do |f| %>
  <%= devise_error_messages! %>
        <h2>Sign up</h2>
    <p><%= f.email_field :email ,placeholder:"Email"%></p>
    <p><%= f.text_field :username,placeholder:"username" %></p>
    <% if @user.password_required? %>
    <p><%= f.password_field :password ,placeholder:"password"%></p>
    <p><%= f.password_field :password_confirmation,placeholder:"confrim password" %></p>
    <%end%>
    <p><%= f.file_field :photo ,placholder:"Choose image"%></p>

      <%= f.hidden_field :role_name, value: "user"%>
    <p><%= f.submit "Sign up" %></p>


<p><%= render :partial => "devise/shared/links" %></p>
   
    </div>
    <% end %>