
<%= form_for(@event, html: {class:"form-4"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><h3>Event Name </h3>
    <%= f.text_field :name %>
  </p>
  <p>
    <h3>Start Date </h3>
    <%= f.date_select :start_at %>
  </p>
  <p>
    <h3>End Date </h3>
    <%= f.date_select :end_at %>
  <p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
