<div id="content">

 
<% @posts.each do |post| %>
      <div class="box1">
       <div>
         <ul class="style1">
           <li class="first"><h3><div class="avatar"></div>
            <% (@user = User.all).each do |u|%>
            <% if post.name == u.username %>
            <%= image_tag u.avatar_url(:thumb) %>
            <% end %>
            <%end %>
            <%= post.name %>
                   </h3>  </li>
            <li><h1><%= post.title %></h1><%= post.created_at.strftime('%b %d, %Y')%></li>
            <p class="comment"><%= post.content %></p>
         </ul>
         rate : <%= rating_for post, "post" %>     
         <p><%= link_to 'Show', post, class:"more" %>
              <% if can? :destroy, post %>
                <%= link_to "Destroy", post, class:"more",:method => :delete, :confirm => "Are you sure?" %>
             <% end %>   </p>          
       </div>
        <hr/>
      </div>
<% end %>
</div>

