

<div id="content">


<% @posts.each do |post| %>
    <div class="box1">
       <h2 class="title"><a><%= post.title %></a></h2>
        <p>Posted By :<%= post.name %></p>
       <div>
         <ul class="style1">
           <li class="first"><h3><em><img/></em></h3></li>
         <p><%= post.content %></p>
         <p><%= link_to 'Show', post, class:"more" %>
            <% if can? :destroy, post %>
              <%= link_to "Destroy", post, class:"more",:method => :delete, :confirm => "Are you sure?" %>
           <% end %>   </p>
           </ul>
       </div>

     </div>




<% end %>

<br />

   </div>
