
<div id="content">


<p id="notice"><%= notice %></p>



     <div id="box1">
    <h2 class="title">  <a href="#"><%= @post.title %> </a></h2>
    <p >Posted by <%= @post.name %></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <ul class="style1">
   <li> <%= @post.content %>    </li>


    <h1>Comments</h1>

    <li><%= render @post.comments %>     </li>


    <%= render "comments/form" %>

        </ul>
    <br />
<p >
<%= link_to 'Edit Post', edit_post_path(@post) , class: "more" %> |
<%= link_to 'Back to Posts', posts_path, class:  "more" %> |
        </p>
        </div>
      </div >
                     </div>