<!DOCTYPE html>
<html>

<head>
  <title>New</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css","application" %>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "http://172.20.150.74:9292/faye.js" %>
  <%= csrf_meta_tag %>
</head>

<body>
              

<ul class="social" id="css3">
      
      <li class="facebook">
        <a href="/auth/facebook"><strong>Facebook</strong></a>
      </li>
      <li class="linkedin">
        <a href="http://www.linkedin.com/"><strong>LinkedIn</strong></a>
      </li>
      <li class="google">
        <a href="/auth/google"><strong>Google</strong></a>
      </li>
      <li class="twitter">
        <a href="/auth/twitter"><strong>Twitter</strong></a>
      </li>
    </ul><div id="wrapper">
  <div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
        <h1><a href="#">Bloger</a></h1>
      </div>

      <div id="menu">
        <ul>
          <li class="active"><%= link_to 'Home',posts_path %></li>
            <li><%= link_to 'New Post', new_post_path %></li>
            <li><%= link_to 'Events', calendar_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to "Account", edit_user_registration_path %></li>
           <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %> <%= link_to "sign in", new_user_session_path %></li>
          <% end %>

             
             
        </ul>

      </div>

        </div>
  </div>
  <div id="page" class="container">
  <%= yield %>
    <!-- end div#content -->
 <% if user_signed_in? %>
<div id="sidebar">

  <h1>Current Online Users</h1>
  <ul class="style3">


  <% @users = User.all %>
    <% @users.each do |user| %>
            <% if user.online? && user.username != current_user.username%>
            <li>
    <a href="#"><%=user.username%></a>
          

        </li>
            <%end%>
    <% end %>

  </ul>
</div>
    <% end %>
</div>
<div id="footer">
  <p>Copyright (c) 2013 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</div>

</body>
</html>






