<!DOCTYPE html>
<html>

<head>
  <title>New</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Bloger" %></title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "http://172.20.150.74:9292/faye.js" %>
  <%= stylesheet_link_tag "cyborg", :media => "all" %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Bloger","#" ,class: "brand"%>
        <div class="nav-collapse collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">
            <% if user_signed_in? %>
            <li><%= link_to 'Home',posts_path %></li>
            <li><%= link_to 'New Post', new_post_path %></li>
            <li><%= link_to 'Events', calendar_path %></li>
            <%else %>

                <ul class="social" id="css3">

                  <li class="facebook">
                    <a href="/auth/facebook"><strong>Facebook</strong></a>
                  </li>
                  <li class="linkedin">
                    <a href="http://www.linkedin.com/"><strong>LinkedIn</strong></a>
                  </li>
                  <li class="google">
                    <a href="/auth/google"><strong>Google</strong></a>
                  </li>
                  <li class="twitter">
                    <a href="/auth/twitter"><strong>Twitter</strong></a>
                  </li>
                </ul>

          <% end %>
          </ul>
          <ul id="main-menu-right" class="nav pull-right">
            <% if user_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Account
                  </a>
                  <ul class="dropdown-menu">
                    <li><%=link_to 'Settings',edit_user_registration_path%></li>

                    <li class="divider"></li>
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
            <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li class="divider-vertical"></li>
                <li>  <%= link_to "Sign in", new_user_session_path %></li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>

  </div>
<div class="container">
  <%= yield %>
    <!-- end div#content -->
    <hr/>

    <footer id="footer">
      <p class="pull-right"><a href="#top">Back to top</a></p>
      <div class="links">
        <a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a>
        <a href="http://feeds.feedburner.com/bootswatch">RSS</a>
        <a href="https://twitter.com/thomashpark">Twitter</a>
        <a href="https://github.com/thomaspark/bootswatch/">GitHub</a>
        <a href="https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker">Swatchmaker</a>
        <a href="http://news.bootswatch.com/post/22193315172/bootswatch-api">API</a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F22JEM3Q78JC2">Donate</a>
      </div>
      Made by <a> ROR Team</a>. Contact <a href="xyz@synechron.com">xyz@synechron.com</a>.<br/>
      Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br/>
    </footer>
  </div>
  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "cyborg" %>
  <%= yield(:page_javascript) if content_for?(:page_javascript) %>
</body>
</html>




