<!DOCTYPE html>
<html>

<head>
  <title>New</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css","application" %>
    <%= javascript_include_tag "application"%>
<%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <% if user_signed_in? %>
  
  <% end %>
  <div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
        <h1><a href="#">Bloger</a></h1>
      </div>

      <div id="menu">
        <ul>
          <li class="active"><%= link_to 'Home',posts_path %></li>
            <li><%= link_to 'New Post', new_post_path %></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><%= link_to 'Events', calendar_path %></li>
         <li> <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path %> <%= link_to "sign in", new_user_session_path %>
          <% end %>

             </li>
        </ul>

      </div>

        </div>
  </div>
  <div id="page" class="container">
  <%= yield %>
    <!-- end div#content -->
 <% if user_signed_in? %>
<div id="sidebar">

  <h1>Current Online Users</h1>
  <ul class="style3">


  <% @users = User.all %>
    <% @users.each do |user| %>
            <% if user.online? && user.username != current_user.username%>
            <li>
    <a href="#" onclick="javascript:chatWith('pranit')"><%=user.username%></a>
          

        </li>
            <%end%>
    <% end %>

  </ul>
</div>
    <% end %>
</div>
<div id="footer">
  <p>Copyright (c) 2013 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>
</div>

</body>
</html>






